:root {
	/* Colors */
	--white: #f1cef5;
	--grey: #40637d;
	--black: #18112e;
	--black-transparency: #18112ee7;
	--black-high-transparency: #18112ec5;
	--grey: #32283e;
	--light-blue: #56bcdc;
	--light-pink: #edb3ca;
	--light-pink-transparency: #edb3ca2b;
	--gradient: linear-gradient(315deg, var(--grey) 0%, var(--grey) 74%);
	--red: #ff5a607d;

	/* Shadow */
	--shadow: var(--small-spacing) var(--base-spacing) var(--huge-spacing) var(--black);
	--subtle-shadow: var(--tiny-spacing) var(--tiny-spacing) var(--huge-spacing)
		var(--black-high-transparency);
	--inset-shadow: inset var(--tiny-spacing) var(--tiny-spacing) var(--small-spacing)
		var(--light-pink-transparency);

	/* Typography */
	--sans: "Rubik", "Helvetica", sans-serif;
	--serif: Fraunces, Georgia, "Times New Roman", serif;

	/* Units */
	--tiny-spacing: 0.25rem;
	--small-spacing: 0.5rem;
	--base-spacing: 1rem;
	--medium-spacing: 1.5rem;
	--large-spacing: 2rem;
	--huge-spacing: 3rem;

	/* Others */
	--animation: cubic-bezier(0.47, 0, 0.745, 0.715) 0.2s;
}

::selection {
	background-color: var(--light-pink);
	color: var(--grey);
}

[light-theme]:root {
	--gradient: linear-gradient(315deg, var(--white) 0%, var(--light-blue) 74%);
}

/*Base Layout*/

body {
	font: 300 1rem/1.6 var(--sans);
	background: var(--gradient);
	height: 100%;
	background-image: url(./assets/unsplash_bg_default.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	color: var(--black);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#root {
	height: 100vh;
}

.flex-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;
	margin: var(--huge-spacing);
}

.flex-window-style {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: var(--base-spacing);
	padding: var(--base-spacing) var(--huge-spacing);
}

.app-window-style {
	background-color: var(--black-high-transparency);
	color: var(--light-blue);
	border-radius: var(--medium-spacing);
	box-shadow: var(--subtle-shadow), var(--inset-shadow);
	border: var(--light-pink-transparency) solid 1px;
}

.app-window-title {
	padding: var(--base-spacing);
	background-color: var(--black-high-transparency);
	border-radius: var(--medium-spacing) var(--medium-spacing) 0 0;
	box-shadow: var(--inset-shadow);
	display: flex;
	justify-content: space-between;
}

/* Base Styles */

:is(h1, h2, h3, h4, h5) {
	font-family: var(--serif);
	font-weight: 700;
}

h2 {
	color: var(--light-blue);
	text-decoration: underline var(--light-pink) 0.15rem;
}

.box-style {
	background-color: var(--black-high-transparency);
	color: var(--light-pink);
	box-shadow: var(--inset-shadow);
	border-radius: var(--medium-spacing);
}

.box-style:hover:not(footer) {
	transition: var(--animation);
	background-color: var(--black-high-transparency);
	transform: scale(1.02);
}

.box-padding {
	padding: var(--huge-spacing);
}

.title {
	background-color: var(--light-pink-transparency);
	margin: -3rem -3rem 0;
	padding: var(--medium-spacing) var(--huge-spacing);
	border-radius: var(--medium-spacing) var(--medium-spacing) 0 0;
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

strong {
	font-family: var(--serif);
	font-weight: 700;
}

/*Search*/

input[type="text"] {
	font-style: italic;
	width: 65%;
	padding: var(--small-spacing);
	border: none;
	border-radius: var(--medium-spacing);
	background-color: var(--light-pink);
	color: var(--black);
	box-shadow: var(--subtle-shadow);
	transition: var(--animation);
}

input[type="text"]:focus {
	transform: scale(1.02);
	outline: var(--white) 2px solid;
	color: var(--white);
	background-color: var(--light-pink-transparency);
}

button {
	cursor: pointer;
	padding: var(--small-spacing) var(--base-spacing);
	margin-left: var(--small-spacing);
	font-weight: 400;
	border: none;

	border-radius: var(--medium-spacing);
	background-color: var(--light-pink-transparency);
	color: var(--white);
	box-shadow: var(--shadow), var(--inset-shadow);
	transition: var(--animation);
}

button:hover {
	transform: scale(1.03);
	background-color: var(--grey);
	color: var(--white);
}

button:active {
	transform: scale(1.03);
	background-color: var(--black-high-transparency);
	color: var(--light-blue);
}

/*Main*/

.mainWrapper {
	overflow-wrap: break-word;
}

.weather-info-content--column,
.weather-info-content--header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	border-bottom: var(--light-blue) 1px solid;
}

.weather-info-content--column > div:nth-child(2) {
	text-align: center;
}

.weather-info-content--column > div:last-child {
	text-align: right;
}

.weather-info-content--column + * {
	margin-top: var(--small-spacing);
}

.weather-info-content--body {
	margin: var(--base-spacing) 0;
}

.weather-info-content--temperature {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	padding: var(--base-spacing) 0;

	border-radius: var(--medium-spacing);
	text-align: center;
}

.temperature-current {
	font: 400 var(--large-spacing) var(--sans);
	color: var(--light-blue);
	text-underline-offset: 0.4rem;
}

/* Forecast */

.forecastDay {
	margin: var(--small-spacing) 0;
	padding-top: var(--base-spacing);

	/*Style*/
	border-bottom: var(--light-blue) 1px solid;
}

.forecastDay--weekday {
	font: 700 1.3rem/1.6 var(--serif);
}

.forecastDetails {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* Footer */

footer {
	padding: var(--small-spacing);
}

/* Utilities */

.y-separator {
	margin: var(--medium-spacing) 0;
}

.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

/* media query */

@media screen and (max-width: 520px) {
	.flex-wrapper {
		margin: var(--small-spacing);
	}

	.flex-window-style {
		gap: var(--small-spacing);
		padding: var(--medium-spacing);
	}

	.app-window-title {
		padding: var(--base-spacing);
		box-shadow: var(--inset-shadow);
	}

	.weather-info-content--column {
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		border-bottom: none;
	}

	.weather-info-content--header {
		gap: var(--base-spacing);
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}

	.weather-info-content--column > *,
	.weather-info-content--column > div + div {
		margin-top: var(--tiny-spacing);
		border-bottom: var(--light-blue) 1px solid;
	}

	.weather-info-content--column + * {
		margin-top: var(--tiny-spacing);
	}

	.weather-info-content--column > div:last-child {
		text-align: left;
	}

	button {
		margin-left: 0;
		font-size: 0.8rem;
	}
}
